


.cards{
  
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(55, 56, 74);
  /* max-width: 800vb; */
  /* height: ; */
  /* width: 1000px; */
}
