h1{
  /* display: flex;
  align-items: center;
  /* justify-content: center; */
 
}
.nav{
  color: white;
  background-color:rgb(126, 71, 209); 
  
display: flex;
align-items: center;
justify-content: center;
}